<?xml version="1.0"?>

<!--
	For more information on how to configure your ASP.NET application, please visit
	http://go.microsoft.com/fwlink/?LinkId=169433
-->

<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />

		<httpHandlers>
			<add verb="GET,HEAD" path="*.sass" type="Dado.Compass.SingleFileHandler, Dado.Compass" />
			<add verb="GET,HEAD" path="*.scss" type="Dado.Compass.SingleFileHandler, Dado.Compass" />
		</httpHandlers>
	</system.web>

	<system.webServer>
		<handlers>
			<add name="CompassSASS" verb="GET,HEAD" path="*.sass" type="Dado.Compass.SingleFileHandler, Dado.Compass" resourceType="File" />
			<add name="CompassSCSS" verb="GET,HEAD" path="*.scss" type="Dado.Compass.SingleFileHandler, Dado.Compass" resourceType="File" />
		</handlers>
	</system.webServer>
</configuration>
